<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h2>
    {{subtitle}}
  </h2>

  <input [(ngModel)]="message" type="text">

  <p>
    You typed {{message}}
  </p>


  <p>
    You have clicked <button (click)="incrementClickCount()">this</button> {{clickCount}} times
  </p>

  <p *ngIf="clickCount==0">
    You've never clicked before
  </p>

  <p *ngIf="clickCount>0 && clickCount<=5">
    Congrats, you are a beginner clicker
  </p>

  <p *ngIf="clickCount>5 && clickCount<=10">
    Congrats, you are a master clicker
  </p>

  <p *ngIf="clickCount>10">
    Aren't you bored yet?
  </p>

  <ul>
    <li *ngFor="let clickTime of clickTimes">
      {{clickTime}}
    </li>
  </ul>
</div>
